.container{
font-family:  Segoe UI Symbol;
font-size: 13px;
align-items: center;
text-align: center;
align-content: center;

}

.container2{
    font-family:  Segoe UI Symbol;
    font-size: 13px;

}
